<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
<!--      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Name>CUSTOM_FILTER</Name>
    <Marker>CUSTOM</Marker>
    <OnMismatch>DENY</OnMismatch>
  </turboFilter>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>